<%= error_messages_for(f.object) %>

<style>
    th, td { padding-bottom: 10px; }
</style>

<table summary="Video form fields">
  <tr>
    <th>Title/Headline</th>
    <td><%= f.text_field(:headline, :size => 70) %></td>
  </tr>
  <!-- <tr>
    <th>Permalink</th>
    <td><%= f.text_field(:permalink) %></td>
  </tr> -->
  <tr>
    <th>Caption/Description</th>
    <td><%= f.text_area(:caption) %></td>
  </tr>
  <tr>
    <th>Vimeo URL</th>
    <td><%= f.text_field(:embedUrl, :size => 70) %></td>
  </tr>
  <tr>
    <th>Featured Scholars</th>
    <td>
      <%= select_tag "featured_scholars", options_from_collection_for_select(Scholar.all, 'id', 'name', @video.scholars.map{ |j| j.id }), :multiple => true %>
    </td>
  </tr>
  <tr>
    <th>Course Category</th>
    <td>
      <%= radio_button("video", "courseCategory", "Author Interviews") %>
      <%= label_tag("Author Interviews", "Author Interviews") %>
      <br />
      <%= radio_button("video", "courseCategory", "Course Lectures") %>
      <%= label_tag("Course Lectures", "Course Lectures") %>
    </td>
  </tr>
  <tr>
    <th>Book Chapter</th>
    <td>
      <%= f.number_field(:bookChapter) %>
    </td>
  </tr>
  <tr>
    <th>Book Section</th>
    <td>
      <%= radio_button("video", "bookSection", "The 1950s") %>
      <%= label_tag("The 1950s", "The 1950s") %>
      <br />
      <%= radio_button("video", "bookSection", "The 1960s") %>
      <%= label_tag("The 1960s", "The 1960s") %>
      <br />
      <%= radio_button("video", "bookSection", "The 1970s") %>
      <%= label_tag("The 1970s", "The 1970s") %>
      <br />
      <%= radio_button("video", "bookSection", "The 1980s") %>
      <%= label_tag("The 1980s", "The 1980s") %>
      <br />
      <%= radio_button("video", "bookSection", "The 1990s") %>
      <%= label_tag("The 1990s", "The 1990s") %>
      <br />
      <%= radio_button("video", "bookSection", "The 2000s") %>
      <%= label_tag("The 2000s", "The 2000s") %>
      <br />
      <%= radio_button("video", "bookSection", "The 2010s") %>
      <%= label_tag("The 2010s", "The 2010s") %>
    </td>
  </tr>
  <tr>
    <th>Transcript</th>
    <td><%= f.text_area(:transcript) %></td>
  </tr>
</table>
