<div class="videos container-fluid">
<div class="row" id="buttonRow">
  <h1 id="header">Author Interviews</h1>

  <br /><br />

  <% @videos.each do |video|
    uri = URI.parse(URI.encode(video.embedUrl.strip))
    embed_code = VideoEmbed.embed(uri) %>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  <tr>
    <!-- <td>
      <iframe width="420" height="315" data-src="https://vimeo.com/163480589/95a3881d5d" frameborder="0" allowfullscreen></iframe>
    </td> -->

    <td><object id="videoScreen" class="contentUrl" itemprop="contentUrl"><%= %Q{#{embed_code}}.html_safe %></object></td>

    <div id="videoData">
    <td><h3 class="video_title" itemprop="caption"><%= video.bookChapterTitle %></h3></td>
    <!-- only a patchwork solution; want to refactor all this (t)here plucking -->
    <td><p>Featuring:<span itemprop="actors">
      <% featurees = video.scholars.pluck('DISTINCT name') %>
      <%= featurees.size != 1 ? featurees[0] + ", " + featurees[1] : featurees[0] %>
    </span></p></td>
    <!-- <td><i><%= video.caption %></i></td><br /> -->
    <td><p class="btn" role="button">
      <%= link_to("View with transcript", public_show_path(video.permalink)) %>
    </p></td>
    </div>

    <meta itemprop="productionCompany" content="Online @ WFU" />
  </tr>
  </div>

  <br /><br /><br /><br />
  </div>
  <% end %>
  </table>

</div>
</div>

<script src="https://raw.githubusercontent.com/ressio/lazy-load-xt/master/dist/jquery.lazyloadxt.extra.min.js"></script>
