<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Sitcom Reader:  A Companion Website<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body itemscope itemtype="http://schema.org/CreativeWork">

    <div id="main">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container-fluid">
          <div class="navbar-header">
            <div class=brand-container>
            <h2 class="navbar-brand" itemprop="isPartOf"><i>The Sitcom Reader</i>:  A Companion Website</h2>
            </div>
          </div>
          <div>
          <div class="menu-parent">| Menu
            <ul class="nav navbar-nav" id="menu">
              <li><%= link_to "All Videos", root_path %></li>
              <li><%= link_to "Author Interviews", interviews_path %></li>
              <li><%= link_to "Course Lectures", lectures_path %></li>
              <li><%= link_to "The Sitcom Reader, Second Edition", "https://www.amazon.com/Sitcom-Reader-Second-America-Re-viewed/dp/1438461305" %></li>
              <li><%= link_to "Critical Media Studies: Student Essays on Contemporary Sitcoms", critical_media_studies_path %></li>
              <li><%= link_to "About", about_path %></li>
            </ul>
          </div>
        </div>
      </nav>
<!-- <div id="area-between"><br /></div> -->
<!-- <div class="pictureArea">-->
<!-- <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /> -->

<!-- </div>  -->
<!-- <div class="homepage" style="width: 150px;">
<%= image_tag("homepage.png", :alt => "Sitcom Reader") %>
</div> -->

<!-- <div class="container">
  <h2>Dropdown Example</h2>
  <p>The <strong>toggle</strong> method toggles the dropdown.</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
  </div><br>
  <p><strong>Note:</strong> For dropdowns, you should always include the data-toggle="dropdown" attribute. Do not rely solely on the toggle method, as it may not work as expected in all browsers.</p>
</div> -->


      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>

    </div>

    <br />
    <div id="footer" class="copyright container">
    <div class="row">
      <div class="col-xs-5">
        <p id="copyright">&copy; <%=Time.now.year%> <span itemprop="copyrightHolder">Mary Dalton</span></p>
      </div>
      <div class="col-xs-7" style="text-align:right;">
        <p>Online Education Consultant: Kyle Denlinger</p><meta itemprop="creator" content="Kyle Denlinger" />
        <p>Web Developer: Ben Ellentuck</p><meta itemprop="creator" content="Ben Ellentuck" />
      </div>
    </div>
    </div>

  </body>
  <%= javascript_include_tag('application') %>
</html>
